<div class="padding">

  <super-navbar>
    <super-navbar-title>
        Purchases
    </super-navbar-title>
  </super-navbar>



  <!--
  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>
  -->

  <super-navigate view-id="add-purchase">
      <button class="button button-block button-positive icon-left super-plus-round">Add a Purchase</button>
  </super-navigate>

  <div class="list card">

  <a href="#" class="item item-thumbnail-left">
    <img src="/james.png">
    <b>$100</b> for <b>comcast</b> by <b>James</b> <span class="badge badge-assertive">3</span>
  </a>

  <a href="#" class="item item-thumbnail-left">
    <img src="/danqi.png">
    <b>$15</b> for <b>toilet paper</b> by <b>Danqi</b> <span class="badge badge-assertive">2</span>
  </a>

  <a href="#" class="item item-thumbnail-left">
    <img src="/connor.png">
    <b>$750</b> for <b>rent</b> by <b>Connor</b> <span class="badge badge-assertive">4</span>
  </a>

  <a href="#" class="item item-thumbnail-left">
    <img src="/Jason.png">
    <b>$50</b> for <b>soccer</b> by <b>Jason</b> <span class="badge badge-assertive">10</span>
  </a>
  


</div>

</div>
