<div class="padding" ng-controller="PurchasesViewController" ng-init="doRefresh()">

    <super-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
</super-refresher>
<super-navbar>
<super-navbar-title>
Purchases
</super-navbar-title>
</super-navbar>

<super-navigate location="example#purchase">
<button class="button button-block button-positive icon-left super-plus-round">Add a Purchase</button>
</super-navigate>
<div class="list card" ng-repeat="purchase in purchases | orderBy:'-createdAt'" ng-init="purchases=[]"> 
    <!-- order by createdAt so the newest purchase comes first -->
    <div class="item item-divider row">
        <div class="col-50"><b>{{purchase.owner}}</b></div>

    </div>
    <a class="item item-thumbnail-left item-text-wrap">
        <img src="/{{purchase.owner}}.png">
        <b>${{purchase.price}}</b> for <b>{{purchase.itemName}}</b>
    </a>
    <div class="item item-divider row">
        <div class="col-25 right-align">
            unpaid:
            <span class="positive"> &nbsp; {{purchase.numNotPaid}} &nbsp; </span>
        </div>
        <div class="col-25 right-align">
           paid:
           <span class="negative">&nbsp;  0&nbsp;  </span>
       </div>
   </div>
</div>

<button class="button icon super-refresh col-offset-40" ng-click="doRefresh()"></button>
</div>
