<div class="padding" ng-controller="ProfileViewController" ng-init="doRefresh()">

    <super-navbar>
    <super-navbar-title>
    Your Profile
    </super-navbar-title>
    </super-navbar>
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
            <img src="{{userData.facebook.profileImageURL}}">
            <h2>{{userData.facebook.displayName}}</h2>
        </a>
    </div>

    <div>
      <img src="/icons/people.png" height="30px" width="30px">
    </div>

    <div ng-repeat="friend in Friends">
      <a class="item item-thumbnail-left" href="#">
        <img src="/{{friend}}.png">
        <h2>{{friend}}</h2>
      </a>
    </div>
    <div class="list">

    <div class="item item-button-right">
      <input type="text" placeholder="Add a new Friend" ng-model="friendName">
      <button class="button button-positive" ng-click="addFriend()">
      <i class="icon super-plus-round"></i>
      </button>
    </div>

  </div>




</div>
