<div class="padding" ng-controller="SettingsController" ng-init="doRefresh()">

  <super-navbar>
    <super-navbar-title>
      Summary
    </super-navbar-title>
  </super-navbar>

  <div class="list card" ng-repeat="(user,balance) in balances">

    <a href="#" class="item item-thumbnail-left item-text-wrap owes" ng-if="balance>0">
      <img src="/{{user}}.png">
      <b>{{user}}</b> owes you <b>${{balance}}</b>
    </a>
    <a href="#" class="item item-thumbnail-left item-text-wrap owed" ng-if="balance<0">
      <img src="/{{user}}.png">
      You owe <b>{{user}}</b> <b>${{-1*balance}}</b>
    </a>
  </div>
  <button class="button icon super-refresh col-offset-40" ng-click="doRefresh()"></button>
</div>
