<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Summary
    </super-navbar-title>
  </super-navbar>

  <div class="list card">

  <a href="#" class="item item-thumbnail-left owes">
    <img src="/james.png">
    <b>James</b> owes <b>$75</b>
  </a>

  <a href="#" class="item item-thumbnail-left owed">
    <img src="/danqi.png">
    <b>Danqi</b> owed <b>$50</b>
  </a>

  <a href="#" class="item item-thumbnail-left owes">
    <img src="/jason.png">
    <b>Jason</b> owes <b>$20</b>
  </a>
  


</div>

</div>
