<div class="padding" ng-controller="LoginViewController">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="data.email">
        </label>
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="data.username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="data.password">
        </label>
        <button class="button button-block button-positive" ng-click="signup()">
            Sign Up
        </button>
    </div>
</div>
