.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.owed {
    background-color: #FF8080;

}
.owes {
    background-color: #99FF99;
}
 
.right-align {
    text-align: right;
}

.positive {
    background-color: #FF8080;
}

.negative {
    background-color: #99FF99;
}
